<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="g-doc">
        <!-- <h1>这是首页</h1>
        <div>
            <h2>这是regular模块</h2>
            <div id="modelTest"></div>
        </div>
        <a href="/main">跳转到控制台</a> -->
        <div class="m-navbar m-navbar-index" id="navbar">
            <div class="nav">
              <ul class="main">
                <li><a class="crt" href="/">首页</a></li>
                <li><a href="/main">控制台</a></li>
              </ul>
              <div class="user">
                  <a class="link login j-login">登录</a><a class="link reg j-register" target="_blank" id="for_baidu_sem">注册</a>
              </div>
            </div>
        </div>
        <div class="m-banner">
            <div class="banner_cnt">
                <div class="tipwrap">
                    <div class="sloganwrap">
                        <h1>构筑云上新世界</h1>
                        <h2>专业的容器云平台</h2>
                        <img class="slogan1" src="/assets/images/index/slogan1-2.png">
                        <img class="slogan2" src="/assets/images/index/slogan2-2.png">
                    </div>
                    <div class="iptwrap">
                        <input type="text" class="ipt" placeholder="邮箱"/>
                        <a class="u-btn">立即体验</a>
                    </div>
                </div>
                <div class="dqmask"></div>
            </div>
        </div>
        <div class="m-cando">
            <div class="cando_cnt">
                <div class="tit">
                    <h3>我们能为你做什么</h3>
                    <p>提供专业、优质的云计算服务，满足各类业务需求</p>
                </div>
            </div>
        </div>
        <div class="m-achieve" data-imgheight="320" data-speed="25">
            <div class="item">
                <p class="numwrap"><span class="num j-countup"></span>年</p>
                <p class="exp">网易15年技术积累</p>
            </div>
            <div class="item">
                <p class="numwrap"><span class="num j-countup"></span>%</p>
                <div class="exp exp-1"><div class="ssd">全SSD</div></div>
            </div>
            <div class="item">
                <p class="numwrap"><span class="num j-countup"></span>%</p>
                <p class="exp">网易互联网产品都在用</p>
            </div>
        </div>
    </div>
    <script src="/js/core.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>
