<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>控制台</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="g-bg">
        <div class="m-navbar m-navbar-index" id="navbar">
            <div class="nav">
              <ul class="main">
                <li><a href="/">首页</a></li>
                <li><a class="crt" href="/main">控制台</a></li>
              </ul>
              <div class="user">
                  <a class="link login j-login">登录</a><a class="link reg j-register" target="_blank" id="for_baidu_sem">注册</a>
              </div>
            </div>
        </div>
        <h1>这是控制台</h1>
    </div>
</body>
</html>
